{% extends "base.html" %} {% block css %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/detail.css') }}"
/><link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/detail_size.css') }}"
/>{% endblock %} {% block title %} {{title}} {% endblock %} {% block
main_content %} {% set name = anime.get_name() %} {% set pic =
anime.get_info()['mal_stats']['main_picture']['large'] %}

<div class="content-container">
  <h2>{{ name }}</h2>
</div>

<div class="content-container">
  <div class="anime-info">
    <div class="image">
      <img src="{{ pic }}" alt="{{ name }} picture" />
    </div>
    <div class="top-side">
      <div class="info">
        <h3>Information</h3>
        <ul>
          <li>Series Type: {{ anime.info['type']}}</li>
          <li>Episodes: {{anime.info['episodes']}}</li>
          <li>Score: {{anime.info['mal_stats']['mean']}}</li>
          <li>
            Aired: {{ anime.info['anime_season']['season'][0].upper() }}{{
            anime.info['anime_season']['season'][1:].lower() }} {{
            anime.info['anime_season']['year'] }}
          </li>
          {% for studio in anime.info['mal_stats']['studios'] %}
          <li>Studios: {{ studio }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="genre">
        <h3>Genres</h3>
        <ul>
          {% for genre in anime.info['mal_stats']['genres'] %}
          <li>
            <a href="/search?q={{ genre['name'] }}">{{ genre['name'] }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tags">
        <h3>Tags</h3>
        <ul>
          {% for tag in anime.get_tags() %}
          <li><a href="/search?q={{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="synopsis">
        <h3>Synopsis</h3>
        <p>{{ anime.info['mal_stats']['synopsis'] }}</p>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="recommended">
    <div class="content-container"><h3>Recommendations</h3></div>
    <div class="tile-container">
      <div class="tile-wrapper">
        {% for anime in recommends %}
        <a href="/anime?q={{ anime.get_name() }}" class="tile-item">
          <img
            src="{{ anime.get_info()['mal_stats']['main_picture']['large'] }}"
            alt=""
          />
          <div class="tile-title">{{ anime.get_name() }}</div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
