@media (max-width: 1800px) {
    .tile-container {
        width: 97rem;
    }
    .tile-wrapper {
        max-height: 1050rem;
        gap: 1rem;
    }
}

@media (max-width: 1540px) {
    .tile-container {
        width: 81rem;
    }
    .tile-wrapper {
        max-height: 1250rem;
        gap: 1rem;
    }
}

@media (max-width: 1300px) {
    .tile-container {
        width: 65rem;
    }
    .tile-wrapper {
        max-height: 1250rem;
        gap: 1rem;
    }
}

@media (max-width: 1030px) {
    .tile-container {
        width: 49rem;
    }
    .tile-wrapper {
        max-height: 2050rem;
        gap: 1rem;
    }
}

@media (max-width: 780px) {
    .tile-container {
        width: 33rem;
    }
    .tile-wrapper {
        max-height: 3150rem;
        gap: 1rem;
    }
}

@media (max-width: 520px) {
    .tile-wrapper .tile-item {
        width: 12rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
    }
    .tile-container {
        width: 27rem;
    }
    .tile-wrapper {
        max-height: 2600rem;
        gap: 1rem;
    }
    .tile-item img {
        border-radius: 0.5rem;
        margin-bottom: 0.8rem;
    }
}
/* if user goes below this they need a new device */
@media (max-width: 410px) {
    .tile-wrapper .tile-item {
        width: 11rem;
    }
    .tile-container {
        width: 25rem;
    }
    .tile-wrapper {
        max-height: 2400rem;
        gap: 1rem;
    }
}