:root {
    --searchbar-width-1: 22rem;
    --searchbar-width-2: 16rem;
    --searchbar-width-3: 15rem;
    --padding-1: 1.5rem;
    --padding-2: 1rem;
    --padding-3: 0.5rem;
}

@media (max-width: 830px) {
    #top-nav .brand {
        display: none;
    }
    #top-nav .icon#home {
        display: block;
        margin-right: var(--padding-1);
    }
    .search-form {
        margin-left: -28px;
        padding-right: var(--padding-1);
    }
    #top-nav a.icon{
        margin-right: var(--padding-1);
    }
    #top-nav a.icon:last-of-type{
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    #top-nav .icon#about {
        display: none;
    }   
    #top-nav .icon#random {
        margin-right: 0;
    }
}

@media (max-width: 628px) {
    #top-nav input[type=search] {
        width: var(--searchbar-width-1);
    }
    #top-nav .icon#home {
        margin-right: var(--padding-2);
    }
    .search-button {
        left: calc(var(--searchbar-width-1) - 10px);
    }
    .search-form {
        padding-right: var(--padding-2);
    }
    #top-nav a.icon{
        margin-right: var(--padding-2);
    }
}

@media (max-width: 490px) {
    #top-nav input[type=search] {
        width: var(--searchbar-width-2);
    }
    #top-nav .icon#home {
        margin-right: var(--padding-3);
    }
    .search-button {
        left: calc(var(--searchbar-width-2) - 10px);
    }
    .search-form {
        padding-right: var(--padding-3);
    }
    #top-nav a.icon{
        margin-right: var(--padding-3);
    }
}

@media (max-width: 400px) {
    #top-nav input[type=search] {
        width: var(--searchbar-width-3);
    }
    .search-button {
        left: calc(var(--searchbar-width-3) - 10px);
    }
}