:root {
    /* general styling */
    --transparent: rgba(0, 0, 0, 0%);
    --blur-1: blur(15px) saturate(160%) contrast(45%) brightness(140%);
    --blur-2: blur(20px) saturate(150%) contrast(45%) brightness(140%);
    /* text color */
    --text-1: white;
    --text-2: rgba(40, 40, 40);
    --text-3: rgba(100, 100, 100);
    --trans-0: rgba(255, 255, 255, 0%);
    --trans-1: rgba(255, 255, 255, 45%);
    --trans-2: rgba(255, 255, 255, 60%);
    --trans-3: rgba(255, 255, 255, 75%);
    /* top nav styling */
    --top-nav-height: 3.25rem;
    --searchbar-width: 28rem;
}

/* ===== Scrollbar CSS ===== */
/* Reference: https://codepen.io/stephenpaton-tech/pen/JjRvGmY */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--trans-2) var(--transparent);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--transparent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--trans-2);
    border-radius: 3px;
}

h1, h2, h3 {
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background-img {
    position: absolute;
    top: 0;
    left: -5rem;
    width: calc(100vw + 10rem);
    height: 100vh;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    overflow: hidden;
}


body {    
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + 40px);
    height: 100vh;
    display: grid;
    grid-template-rows: var(--top-nav-height) calc(100vh - 3rem);
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    z-index: 100;
    height: 100vh;
    overflow: auto;
}

/* top nav styling */
#top-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: var(--blur-1);
}

#top-nav * {
    color: var(--text-2);
}

#top-nav .brand {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-2);
}

#top-nav .icon {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-nav div.icon {
    background-color: var(--trans-1);
    border-radius: 2rem;
    border: 2px solid var(--trans-0);
}

#top-nav a.icon{
    margin-right: 28px;
}

#top-nav div.icon:active {
    background-color: var(--trans-3);
    border: 2px solid var(--text-3);
}

#top-nav .icon#home {
    margin: 0;
    display: none;
}

/* search bar styling */
#top-nav input[type=search] {
    border: 2px solid var(--trans-0);
    background-color: var(--trans-1);
    padding: 4px;
    padding-left: 30px;
    border-radius: 30px;
    font-size: 16px;
    width: var(--searchbar-width);
    outline: none;
}

#top-nav input[type=search]:focus {
    background-color: var(--trans-3);
    border: 2px solid var(--text-3);
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding-right: 28px;
}

.search-field::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.search-button {
    position: relative;
    left: calc(var(--searchbar-width) - 10px);
    top: -1.5px;
    background: transparent;
    border: none;
    outline: none;
}

.search-button img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.icon#random::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    background-color: white;
}
