body {
    width: 100vw;
    height: 100vh;
    background-color: #DF98FA;
    background: radial-gradient(circle at 10% 15%, #FF6B00, #ff00dd 125rem);
}

.content-container {
    width: 17rem;
    height: 17rem;
    padding: 3.1rem 3.25rem;
    border-radius: 2rem;
    backdrop-filter: var(--blur-1);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 7%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * 17rem / 2);
    margin-left: calc(-1 * 17rem / 2);
}

#error-header h1 {
    color: var(--text-2);
    font-size: 2.75rem;
    font-family: 'Poppins', sans-serif;
}