.tile-container {
    display: grid;
}

.tile-container > * {
    display: flex;
}

.tile-container.col-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tile-container.col-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tile-container.col-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tile-container.col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tile-container.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.tile-container.col-2 {
    grid-template-columns: 1fr 1fr;
}

