.tile-container {
    width: 113rem;
    margin: auto;
    margin-bottom: 5rem;
    overflow: hidden;
    padding: 2rem 1rem;
}

.tile-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 900rem;
    gap: 1rem;
}

.tile-wrapper .tile-item {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: auto;
    backdrop-filter: var(--blur-1);
    padding: 1rem;
    padding-bottom: 1.15rem;
    border-radius: 1.5rem;
    margin: 0;
}

.tile-wrapper .tile-item:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.tile-item img {
    margin: auto;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.tile-item .tile-title {
    text-align: center;
}

.tile-wrapper .tile-item {
    text-decoration: none;
    color: var(--text-2);
}